/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFDE3;
    animation: fadeIn 0.1s linear 0s 1 reverse forwards;
}

h1,
h2 {
    font-family: 'Merriweather', serif;
}

.container {
    width: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    border: 1px solid lightgray;
    background-color: #ffffff;
    
    border-radius: 9px;
}

.content {
    padding: 12px;
}

.header {
    text-align: center;
    line-height: 10px;
    animation: bounce 1s ease 0s 1 normal forwards;
}

hr {
    border: 0.5px solid lightgray;
}
.card {

    display: inline-block;

    width: 30%;

    padding-left: 10px;
    padding-right: 10px;

    border: 1px solid lightgray;
    border-radius: 9px;
}

@media (max-width: 1000px) {
    .card {
        width: 94%;
    }

    .container {
        width: 90%;
    }
}

.card i {

    z-index: -1;

}